.TaskBoard {
    height: 720px;
    display: inline-flex;
}

.TaskGroup {
    width: 33%;
    height: 720px;
}

.TaskGroupHeader {
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

.Task {
    margin: 5px;
    border: 1px solid;
}